/* CSS for the home webpage */


/* To put the form in the center */
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
  
}


/* To keep the background colour tan */
  .bg-color {
    background-color: tan;
    height: 100%;
    width: 100%;
}