{% extends "layout.html" %}
{% block head %}                       <!-- Use block head as head tag. By default it will use properties defined in layout's head tag -->

<!-- Using CSS file stored in static folder -->
<link rel="stylesheet" href={{ url_for('static', filename='home.css') }}>  

{% endblock head %}

{% block content %}

<h1>Welcome, {{ login_name }}</h1><br>
<div class = "center">

<div class="button-container">
<!-- Done -->
<form method="POST" action ="/add_site_engineer">
    <input type="submit" value="Add New Site Engineer">
</form>
<br><br>



<form method="POST" action ="/change_site_engineer">
    <input type="submit" value="Change Site Engineer Data">
</form>
<br><br>

<form method="POST" action ="/add_supervisor">
    <input type="submit" value="Add New Supervisor">
</form>
<br><br>


<form method="POST" action ="/change_supervisor">
    <input type="submit" value="Change Supervisor Data">
</form>
<br><br>
<!-- <form method="POST" action ="/change_supervisor">
    <input type="submit" value="Change Supervisor Data">
</form>
<br><br> -->

<form method="POST" action ="/add_worker">
    <input type="submit" value="Add New Worker">
</form>
<br><br>

<form method="POST" action ="/change_worker">
    <input type="submit" value="Change Worker Data">
</form>
<br><br>

<form method="POST" action ="/add_location">
    <input type="submit" value="Add Location">
</form>
<br><br>

<form method="POST" action ="/change_location">
    <input type="submit" value="Change Location">
</form>
<br><br>

<form method="POST" action ="/check_attendance">
    <input type="submit" value="Check Attendance">
</form>
<br><br>

<!-- <form method="POST" action ="/check_salary">
    <input type="submit" value="Check Salary">
</form>
<br><br> -->

<!-- <form method="POST" action ="/view_all_data">
    <input type="submit" value="View all sample data">
</form>

<br>
<br> -->
<form method="POST" action ="/view_site_engineer">
    <input type="submit" value="View Site Engineer data">
</form>
<br><br>

<form method="POST" action ="/view_supervisor">
    <input type="submit" value="View Supervisor">
</form>
<br><br>

<form method="POST" action ="/view_workers_details">
    <input type="submit" value="View Workers">
</form>
<br><br>

<form method="POST" action ="/view_loc_site_proj">
    <input type="submit" value="View Location/Site/Project">
</form>
<br><br>

<!-- Only for trial, can be deleted later -->
<!-- <form method="POST" action ="/add_data">
    <input type="submit" value="Add Data">
</form>
</div> -->
<br><br>
</div>

<br><br>
<button onclick="goBack()">Go Back</button>
<br><br>


{% endblock content %}