{% extends "layout.html" %}
{% block head %}                       <!-- Use block head as head tag. By default it will use properties defined in layout's head tag -->

<link rel="stylesheet" href={{ url_for('static', filename='home.css') }}>  <!-- Using CSS file stored in static folder -->

{% endblock head %}

{% block content %}
<div class = "center">
<a href="#" class="button button-grad" size="50px">Boss Login</a>
<br><br><br>

<!-- Done -->
<form method="POST" action ="/add_site_engineer">
    <input type="submit" value="Add New Site Engineer">
</form>
<br><br>



<form method="POST" action ="/change_site_engineer">
    <input type="submit" value="Change Site Engineer Data">
</form>
<br><br>

<form method="POST" action ="/add_supervisor">
    <input type="submit" value="Add New Supervisor">
</form>
<br><br>

<form method="POST" action ="/change_supervisor">
    <input type="submit" value="Change Supervisor Data">
</form>
<br><br>

<form method="POST" action ="/add_location_project_site">
    <input type="submit" value="Add Location/Project/Site">
</form>
<br><br>

<form method="POST" action ="/change_location_project_site">
    <input type="submit" value="Change Location/Projesct/Site">
</form>
<br><br>

<form method="POST" action ="/check_attendance">
    <input type="submit" value="Check Attendance">
</form>
<br><br>

<form method="POST" action ="/check_salary">
    <input type="submit" value="Check Salary">
</form>
<br><br>


<!-- Only for trial, can be deleted later -->
<form method="POST" action ="/add_data">
    <input type="submit" value="Add Data">
</form>
</div>

{% endblock content %}