<!-- This is the basic layout. Every other webpage will extend it -->


<!DOCTYPE html>
<html>

<head>
    <!-- Create a head block that can work as a head tag in extended webpages -->
    {% block head %}{% endblock head %}

    <!-- If title exist, show the title name -->
    {% if title %}
    <title>{% block title %} {{ title }} {% endblock %}</title>
    
    <!-- If title doen't exist show the default title -->
    {% else %}
    <title> Swastik Associates </title>
    {% endif %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    
    <!-- Colour of every webpage will be tan by defualt -->
    <style>
        body {
            background-color: tan;
        }
    </style>
    
    
</head>


<body>
    
    
   
    <!-- For getting messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    
     <!-- Logout button -->
     {% if title != "Home Page" %}
     <div class="top-right-button">
        <form method="POST" action ="/logout">
            <input type="submit" value="Logout">
        </form>
    </div>
        <br><br>
    {% endif %}

    
    <!-- This is the block content, it will be used as the body tag in the extended webpages -->
    
    {% block content %}
    {% endblock content%}
    
</body>


<!-- Javascript to go to back page -->
<script>
    function goBack() {
      window.history.back();
    }
    </script>

</html>