{% extends "layout.html" %}
{% block head %}                       <!-- Use block head as head tag. By default it will use properties defined in layout's head tag -->

<link rel="stylesheet" href={{ url_for('static', filename='home.css') }}>  <!-- Using CSS file stored in static folder -->

{% endblock head %}

{% block content %}

<h1>Welcome, {{ login_name }}</h1>
<br>
<div class = "center">

    <div class="button-container">
        <form method="POST" action ="/take_morning_attendance">
            <input type="submit" value="Take Morning Attendance">
        </form>
            <br><br>

        <form method="POST" action ="/take_evening_attendance">
            <input type="submit" value="Take Evening Attendance">
        </form>
            <br><br>
    


<form method="POST" action ="/add_full_day_attendance">
    <input type="submit" value="Add Full Day Attendance">
</form>
<br><br>

<!-- <form method="POST" action ="/edit_attendance">
    <input type="submit" value="Edit Attendance">
</form>
<br><br> -->
<form method="POST" action ="/add_worker">
    <input type="submit" value="Add New Worker">
</form>
<br><br>

<form method="POST" action ="/change_worker">
    <input type="submit" value="Change Worker Data">
</form>
<br><br>

<form method="POST" action ="/view_attendance">
    <input type="submit" value="View Attendance">
</form>
</div>

<br><br>

<!-- <form method="POST" action ="/logout">
    <input type="submit" value="Logout">
</form>
<br><br> -->

</div>

<br><br>
<button onclick="goBack()">Go Back</button>
<br><br>
{% endblock content %}