<!-- Have to work on this -->




{% extends "layout.html" %}
{% block content %}

<!-- Heading of the webpage -->
<h1><a href="#" class="button button-grad" size="50px">Update Supervisor</a></h1>
<h1> Supervisor's {{ attribute_supervisor }}: {{ search_attribute_supervisor }}</h1>
<br>
<br><br><br>


<!-- Start of HTML form to get data of new order -->
<form method="POST" action ="/submit_change_supervisor/{{ search_attribute_supervisor }}">

    <!-- Get ID of the Supervisor -->
    <label for="supervisor_id">Supervisor ID: </label>
    <input type="text" name="supervisor_id" id="supervisor_id"><br><br>

    <!-- Get name of the Supervisor -->
    <label for="supervisor_name">Name: </label>
    <input type="text" name="supervisor_name" id="supervisor_name"><br><br>
    
    <!-- Get phone number of the Supervisor -->
    <label for="supervisor_phone">Phone Number: </label>
    <input type="text" name="supervisor_phone" id="supervisor_phone"><br><br>

    <!-- Get Location ID of the Supervisor -->
    <label for="location_id">Location ID: </label>
    <input type="text" name="location_id" id="location_id"><br><br>
    
    <!-- Get Site ID of the Supervisor -->
    <label for="site_id">Site ID: </label>
    <input type="text" name="site_id" id="site_id"><br><br>
    
    <!-- Get Project ID of the Supervisor -->
    <label for="project_id">Project ID: </label>
    <input type="text" name="project_id" id="project_id"><br><br>

    <!-- Get Email of the Supervisor -->
    <label for="supervisor_email">Email: </label>
    <input type="email" name="supervisor_email" id="supervisor_email"><br><br>
    
    <!-- Get Password of the Supervisor -->
    <label for="supervisor_password">Password: </label>
    <input type="password" name="supervisor_password" id="supervisor_password"><br><br>

    <!-- Get ID of the Site Engineer working under Supervisor -->
    <label for="site_eng_id">Site Engineer ID: </label>
    <input type="text" name="site_eng_id" id="site_eng_id"><br><br>

    <!-- Submit the data -->
    <input type="submit" value="Submit">
</form>
<!-- End of the form -->


<br><br>
<button onclick="goBack()">Go Back</button>
<br><br>

{% endblock content %}