<!-- Have to work on this -->




{% extends "layout.html" %}
{% block content %}

<!-- Heading of the webpage -->
<h1><a href="#" class="button button-grad" size="50px">Update Location</a></h1>
<h1> Boss's {{ attribute_boss }}: {{ search_attribute_boss }}</h1>
<br>
<br><br><br>


<!-- Start of HTML form to get data of boss -->
<form method="POST" action ="/submit_change_boss/{{ search_attribute_boss }}">

    <!-- Get ID of the boss -->
    <label for="boss_id">Boss ID: </label>
    <input type="text" name="boss_id" id="boss_id"><br><br>

    <!-- Get name of the boss -->
    <label for="boss_name">Name: </label>
    <input type="text" name="boss_name" id="boss_name"><br><br>
    
    <!-- Get Email of the Boss -->
    <label for="boss_email">Email: </label>
    <input type="email" name="boss_email" id="boss_email"><br><br>

    <!-- Get Password of the Boss -->
    <label for="boss_password">Password: </label>
    <input type="password" name="boss_password" id="boss_password"><br><br>
    

    <!-- Submit the data -->
    <input type="submit" value="Submit">
</form>
<!-- End of the form -->


<br><br>
<button onclick="goBack()">Go Back</button>
<br><br>

{% endblock content %}