<!-- For trial, can be deleted -->









{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href={{ url_for('static', filename='home.css') }}> 
{% endblock head %}

{% block content %}

<h1> Worker Primary </h1>
<br>
<table border="2">
    <tr>
        <th>Worker ID</th>
        <th>Worker Name</th>
    </tr>
    {% for i in worker_primary %}
    <tr>
        <td>{{ i.worker_id }}</td>
        <td>{{ i.worker_name }}</td>
    </tr>
    {% endfor %}
</table>
<br>

<h1> Worker Details </h1>
<br>
<table border="2">
    <tr>
        <th>Worker ID</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Aadhar Number</th>
        <th>Account Number</th>
        <th>IFSC Code</th>
        <th>Bank Name</th>
        <th>Branch Name</th>
        <th>Joining Date</th>
        <th>Per Day Salary</th>
        <th>Supervisor ID</th>
        <th>Site ID</th>
        <th>Still Working</th>
    </tr>
    {% for i in worker_detail %}
    <tr>
        <td>{{ i.worker_id }}</td>
        <td>{{ i.worker_name }}</td>
        <td>{{ i.worker_phone_number }}</td>
        <td>{{ i.worker_address }}</td>
        <td>{{ i.worker_gender }}</td>
        <td>{{ i.worker_aadhar_number }}</td>
        <td>{{ i.worker_account_number }}</td>
        <td>{{ i.worker_ifsc_code }}</td>
        <td>{{ i.worker_bank_name }}</td>
        <td>{{ i.worker_bank_branch_name }}</td>
        <td>{{ i.worker_join_date }}</td>
        <td>{{ i.worker_salary }}</td>
        <td>{{ i.supervisor_id }}</td>
        <td>{{ i.site_id }}</td>
        <td>{{ i.still_working }}</td>
    </tr>
    {% endfor %}
</table>
<br>

<h1> Location Data </h1>
<table border=""2>
    <tr>
        <th>Location ID</th>
        <th>Name</th>
        <th>State</th>
        <th>Number of Projects</th> 
    </tr>
    {% for i in location_data %}
    <tr>
        <td>{{i.location_id}}</td>
        <td>{{i.location_name}}</td>
        <td>{{i.location_state}}</td>
        <td>{{i.location_project_number}}</td>
    </tr>
    {% endfor %}
</table>
<br>
<h1> Site Data</h1>
<table border="2">
    <tr>
        <th>Site ID</th>
        <th>Name</th>
        <th>Location ID</th>
        <th>Pincode</th>
        <th>Number of Projects</th>
    </tr>
    {% for i in site_data %}
    <tr>
        <td>{{i.site_id}}</td>
        <td>{{i.site_name}}</td>
        <td>{{i.location_id}}</td>
        <td>{{i.site_pincode}}</td>
        <td>{{i.site_project_number}}</td>
    </tr>
    {% endfor %}
</table>

<br>
<h1> Project Data </h1>
<table border="2">
    <tr>
        <th>Project ID</th>
        <th>Name</th>
        <th>Site ID</th>
        <th>Location ID</th>
        <th>Site Engineer ID</th>
        <th>Supervisor ID</th>
        <th>Total Workers</th>
    </tr>
    {% for i in project_data %}
    <tr>
        <td>{{i.project_id}}</td>
        <td>{{i.project_name}}</td>
        <td>{{i.site_id}}</td>
        <td>{{i.location_id}}</td>
        <td>{{i.site_eng_id}}</td>
        <td>{{i.supervisor_id}}</td>
        <td>{{i.total_workers}}</td>
    </tr>
    {% endfor %}
</table>
<br>

<h1> Site Engineer Data </h1>
<table border ="2">
    <tr>
        <th>Site Engineer ID</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Location ID</th>
        <th>Site ID</th>
        <th>Project ID</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
    {% for i in site_eng_detail %}
    <tr>
        <td>{{i.site_eng_id}}</td>
        <td>{{i.site_eng_name}}</td>
        <td>{{i.site_eng_phone}}</td>
        <td>{{i.location_id}}</td>
        <td>{{i.site_id}}</td>
        <td>{{i.project_id}}</td>
        <td>{{i.site_eng_email}}</td>
        <td>{{i.site_eng_password}}</td>
    </tr>
    {% endfor %}
</table>
<br>

<h1> Supervisor Details </h1>
<table border="2">
    <tr>
        <th>Supervisor ID</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Location ID</th>
        <th>Site ID</th>
        <th>Project ID</th>
        <th>Email</th>
        <th>Password</th>
        <th>Site Engineer ID</th>
    </tr>
    {% for i in supervisor_detail %}
    <tr>
        <td>{{i.supervisor_id}}</td>
        <td>{{i.supervisor_name}}</td>
        <td>{{i.supervisor_phone}}</td>
        <td>{{i.location_id}}</td>
        <td>{{i.site_id}}</td>
        <td>{{i.project_id}}</td>
        <td>{{i.supervisor_email}}</td>
        <td>{{i.supervisor_password}}</td>
        <td>{{i.site_eng_id}}</td>
    </tr>
    {% endfor %}
</table>
<br><br><br><br><br>
{% endblock content %}